@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Inter', sans-serif;
}
.row{
  max-width: 90%;
  margin: 0 auto;
}
nav{
  display: flex;
  justify-content: space-between;
}
nav .explorer__logo{
  padding: 2rem;
}
nav .explorer__logo a{
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  color: #fff;
}
nav ul{
  display: flex;
  list-style: none;
}
nav ul li{
  color: #fff;
  font-size: 1rem;
  padding: 2rem;
  font-weight: bold;
}
.hero__content-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__content{
  width: 45%;
  height: 70vh;
  padding: 7% 3%;
}
.hero__content h1{
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.hero__content h1,p{
  margin: 2rem 0;
}
.hero__content p{
  margin-bottom: 2rem;
  font-size: 20px;
  padding: 0;
  line-height: 1.8;
}
.hero__content .hero__btn{
  padding: 0.5rem;
  background: #FF6347;
  border-radius: 30px;
  border-radius: 15px;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
/* ============Hero section ============= */
.hero__container{
  /* background: url('/img/exploreBg.png') no-repeat center center/cover; */
  background: linear-gradient(0deg, rgba(255, 99, 71, 0.35), rgba(255, 99, 71, 0.35)), url('/img/exploreBg.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ===========cards section================ */
.card-container{
  padding: 5rem 0;
}

.card-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}
.card-row .card-boxes{
  color: #fff;
  width: 32%;
  /* margin: 10px; */
  padding: 2rem;
  background: #FF6347;
  box-shadow: 7px 11px 20px -10px rgba(0, 0, 0, 0.33);
  border-radius: 20px;
}
.card-row .card-boxes h2{
  margin-bottom: 1rem;
}
.started-btn{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  color: #FF6347;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.btn-margin{
  margin-top: 1rem;
}

/* ===========footer section ============= */
footer{
  background: #FF6347;
}
.sub-footer1-container{
  background: #FF6347;
}
.sub-footer1-content{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0
}
.sub-footer1-container h2{
  color: #fff;
  font-size: 30px;
}
.sub-footer2-container{
  border: solid white 2px;
  background: #000;
}
.sub-footer2-content{
  display: flex;
  justify-content: space-between;
}

.sub-footer2-content .sub-footer-icon, p{
  color: #fff;
  /* padding: 1rem; */
  cursor: pointer;
}

@media screen and (max-width:900px){
  nav{
    display: none;
  }
  .card-row{
    flex-direction: column;
    margin: 20px 0;
  }
  .card-row .card-boxes{
    width: 100%;
    margin: 10px 0;
  }
  .hero__content-box{
    flex-direction: column-reverse;
  }
  .hero__content{
    width: 100%;
    padding: 15% 8%;
  }
  .card-row{
    margin: 6px 0;
  }
  .hero__content h1{
    font-size: 1.5rem;
  }
  .sub-footer2-content{
    flex-direction: column;
  }
  .card-container{
    padding: 3rem 0;
  }
}